body {
    font-family: "Monstserrat", 'segeo-UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a, a:hover {
    text-decoration: none;
}

#topbar {
    background-color: #008080;
    color: #ddd;
    height: 50px;
    line-height: 50px;

}

.top-contact, .sosmed {
    list-style: none;
    padding: 0;
}

#topbar li {
    display: inline-flex;
}

#topbar li a {
    color: aliceblue;
    display: inline-block;
    padding: 0 20px;
}
#topbar .sosmed li a {
    padding: 0 5px;

}
#topbar .sosmed li a i {
    color: aliceblue;
}

/*css untuk header */

header{
    padding: 10px 0;
}

.brand {
    display: flow-root;
}

.brand .brand-name h1 {
    font-size:35px;
    color: #008080;
    text-transform: uppercase;
}

.brand .brand-name h4 {
    font-size: 15px;
    font-family: rateway, 'segeo-UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    text-transform: uppercase;
    letter-spacing: 1px;
    
}

.pembungkus-searchbox {
    display: flex;
    align-items: center;
}

.searchbox {
    width: 100%;
}

.btn.btn-utama, 
a.btn.btn-utama {
    background-color: #008080;
    color: #fff;
    font-weight: 500;
    transition: background-color 0.3s;
}

.btn.btn-utama:hover,
a.btn.btn-utama:hover {
    background-color: #008080;
    color: #40E0D0;
}

/* css untuk menu/navbar */

.navbar {
    padding: 0;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.25px;
    border-bottom: 5px solid #EDF259;
}

.bg-Hijau {
    background-color: #008080;
    color: #626462;

}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.navbar-dark .navbar-nav .active > .nav-link, 
.navbar-dark .navbar-nav .nav-link.active, 
.navbar-dark .navbar-nav .nav-link.show, 
.navbar-dark .navbar-nav .show > .nav-link {

    color: #fff;
}

.active {
    background-color: #f3f2f2;
    color: #008080;
}

li.nav-item-active a{
    color: #008080;
}

.nav-item {
    padding: 8px 10px;
}
/* css untuk maps */

.single-run-text-content {
    color: #40E0D0;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: Arial, sans-serif;
    font-size: 18px;
    margin: 35px;
    padding: 20px;
    border-radius: 10px;
}

.single-run-text {
    animation: fadeInUp 1s ease-in-out;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.maps-area {
    margin-left: 65px;
}

/* css untuk footer */

footer {
    color: #fff;
    background-color:#008080;
    padding: 80px 0;
}

footer .footer-col2:first-of-type {
    padding-right: 20px;
}

footer .brand img {
    width: 70px;
    height: 70px;
    margin-top: 20px;
}

footer .brand h1 {
    font-size: 25px;
    font-weight: 600;
    line-height: 25px;
    text-transform: uppercase;
}

footer .footer-col2 {
  margin-top: 80px ;

}

footer .footer-col3{
    margin-top: 80px ;
}

footer .tentang {
    font-size: 14px;
    line-height: 26px;
    padding-bottom: 15px;
    border-bottom: 1.5px dashed rgba(255, 255, 255, 0.5);
}

footer .sosmed {
    list-style: none;
    color: #fff;
}

footer .sosmed li {
    display: inline-block;
    margin-right: 15px;
}

footer .sosmed li a {
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.5);
    display: inline-block;
    height: 50px;
    width: 50px;
    text-align: center;
    border-radius: 50px;
    font-size: 20px;
    line-height: 50px;
}
footer .sosmed li a:hover{
    color: #ddd;
}

footer .contact li {
    list-style: none;
    padding: 0;
    margin-left: -40px;
    font-size: 14px;
    line-height: 24px;
}

footer .contact i {
    margin: 10px 0;
}

.footer-col2 h2 {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.footer-col3 h2 {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.footer-col2 .alamat {
    font-size: 14px;
    line-height: 25px;
    padding: 10px 0;
}

.footer-col3 .footer-nav {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-copyright .container{
border-top: 1px solid #ddd;
padding: 10px 0;
}

.footer-copyright {
    margin-top: 60px;

}

.footer-copyright h6 {
    font-size: 16px;
    color: #CECECE;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer-copyright h6 a {
    color: inherit;
}




